@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41 55% 99%;
    --foreground: 41 67% 5%;
    --muted: 41 11% 88%;
    --muted-foreground: 41 10% 33%;
    --popover: 41 55% 99%;
    --popover-foreground: 41 67% 5%;
    --card: 41 55% 99%;
    --card-foreground: 41 67% 5%;
    --border: 41 12% 91%;
    --input: 41 12% 91%;
    --primary: 41 91% 57%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 5% 86%;
    --secondary-foreground: 41 5% 26%;
    --accent: 41 14% 80%;
    --accent-foreground: 41 14% 20%;
    --destructive: 19 84% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 91% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 41 51% 1%;
    --foreground: 41 25% 100%;
    --muted: 41 28% 5%;
    --muted-foreground: 41 12% 66%;
    --popover: 41 51% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 41 51% 2%;
    --card-foreground: 0 0% 100%;
    --border: 41 3% 11%;
    --input: 41 3% 11%;
    --primary: 41 91% 57%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 3% 14%;
    --secondary-foreground: 41 3% 74%;
    --accent: 41 11% 23%;
    --accent-foreground: 41 11% 83%;
    --destructive: 15 100% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 41 91% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
