@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 0 0% 95%; /* Blanc */
        --foreground: 240 5% 10%; /* Gris foncé */
        --card: 0 0% 100%; /* Blanc */
        --card-foreground: 240 5% 10%; /* Gris foncé */
        --popover: 0 0% 100%; /* Blanc */
        --popover-foreground: 240 5% 10%; /* Gris foncé */
        --primary: 47 100% 50%; /* Jaune vif (Main) */
        --primary-foreground: 240 5% 10%; /* Gris foncé */
        --secondary: 47 100% 95%; /* Jaune très pâle */
        --secondary-foreground: 240 5% 10%; /* Gris foncé */
        --muted: 240 5% 90%; /* Gris clair */
        --muted-foreground: 240 5% 40%; /* Gris moyen */
        --accent: 47 100% 50%; /* Jaune vif (Main) */
        --accent-foreground: 240 5% 10%; /* Gris foncé */
        --destructive: 0 100% 50%; /* Rouge vif */
        --destructive-foreground: 0 0% 98%; /* Blanc */
        --border: 240 5% 90%; /* Gris clair */
        --input: 240 5% 90%; /* Gris clair */
        --ring: 47 100% 50%; /* Jaune vif */
        --chart-1: 47 100% 50%; /* Jaune vif */
        --chart-2: 240 5% 40%; /* Gris moyen */
        --chart-3: 240 5% 10%; /* Gris foncé */
        --chart-4: 0 0% 100%; /* Blanc */
        --chart-5: 240 5% 80%; /* Gris clair */
        --radius: 0.5rem;
    }

    /* Mode sombre */
    .dark {
        --background: 240 5% 10%; /* Gris foncé */
        --foreground: 0 0% 95%; /* Blanc */
        --card: 240 5% 20%; /* Gris foncé */
        --card-foreground: 0 0% 98%; /* Blanc */
        --popover: 240 5% 10%; /* Gris foncé */
        --popover-foreground: 0 0% 98%; /* Blanc */
        --primary: 47 100% 50%; /* Jaune vif (Main) */
        --primary-foreground: 240 5% 10%; /* Gris foncé */
        --secondary: 47 100% 30%; /* Jaune atténué */
        --secondary-foreground: 0 0% 98%; /* Blanc */
        --muted: 240 5% 20%; /* Gris très foncé */
        --muted-foreground: 240 5% 60%; /* Gris clair */
        --accent: 47 100% 50%; /* Jaune vif (Main) */
        --accent-foreground: 0 0% 98%; /* Blanc */
        --destructive: 0 62.8% 30.6%; /* Rouge foncé */
        --destructive-foreground: 0 0% 98%; /* Blanc */
        --border: 240 5% 10%; /* Gris foncé */
        --input: 240 5% 10%; /* Gris foncé */
        --ring: 47 100% 50%; /* Jaune vif */
        --chart-1: 47 100% 50%; /* Jaune vif */
        --chart-2: 240 5% 60%; /* Gris clair */
        --chart-3: 0 0% 100%; /* Blanc */
        --chart-4: 47 100% 30%; /* Jaune atténué */
        --chart-5: 240 5% 80%; /* Gris clair */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
